#about {
    height: 100%;
    background-color: white;
}
.profile-pic {
    width: 100%;
}

.icon-effect {
    color:inherit;
    text-decoration: none;
}

.p-t-10 {
    padding-top: 10%;
}

.p-l-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.p-b-10 {
    padding-bottom: 10%;
}

.info-box {
    margin: 0 auto;
    width: 65%;
    height: 100%;
}