#about {
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url('../Resources/wood_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 10%;
    padding-bottom: 10%;
}
.profile-pic {
    width: 100%;
}

.icon-effect {
    color:white;
    text-decoration: none;
}

.info-box {
    margin: 0 auto;
    padding: 5% 3%;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.descriptions {
    color: black;
    margin-top: 10%;
    background-color: whitesmoke;
}

.icon {
    padding-top: 10%;
}

@media only screen and (min-width: 768px) {
    .descriptions {
        margin-top: 0%;
    }
}
