#about {
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),url('../Resources/wood_bg.jpg');
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 10%;
    position:relative;
    height:100%;
}

.about-particle {
    position: absolute;
    margin-top: -10%;
    width:100%;
    height:100%;
}

.about-particle-behind {
    z-index: -1
}

.about-profile-pic {
    width: 100%;
}

.about-icon-effect {
    color:inherit;
    text-decoration: none;
}

.about-info-box {
    position: relative;
    margin: 0 auto;
    padding: 5% 3%;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(220, 220, 220, 0.95);
}

.about-descriptions {
    color: black;
    margin-top: 10%;
}

.about-icon {
    padding-top: 10%;
}

.about-resume {
    padding-top: 10%;
}

.about-resume-btn {
    padding: 1% 30%;
    background-image: linear-gradient(to right,rgba(128, 0, 32, 0), rgba(128, 0, 32, 0.1), rgba(128, 0, 32, 0.4), rgba(128, 0, 32, 0.8), rgb(128, 0, 32), rgba(128, 0, 32, 0.8), rgba(128, 0, 32, 0.4), rgba(128, 0, 32, 0.1), rgba(128, 0, 32, 0));
    background-color: transparent;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 0%;
}

.about-resume-btn:hover {
    background-image: linear-gradient(to right,rgba(128, 0, 32, 0.2), rgba(128, 0, 32, 0.7), rgb(128, 0, 32), rgba(128, 0, 32, 0.7), rgba(128, 0, 32, 0.2));
    background-color: transparent;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
}

@media only screen and (min-width: 768px) {
    #about {
        padding-top: 10%;
    }

    .about-descriptions {
        margin-top: 0%;
    }
}
