#contact {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 1));
    position:relative;
    height:100%;
    overflow: hidden;
    justify-content: center;
}

.contact-container {
    position: relative;
    width: 90%;
    height: 100%;
    color: white;
    margin-top: 12%;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 2%;
}

.contact-icon {
    padding-top: 5%;
}

.contact-or-col {
    margin: 5% auto;
}

.contact-horizontal-line {
    height: 0.5px;
    position: relative;
    top: 14px;
    background-color: white;
}

.contact-form-row {
    margin-top: 3%;
    align-items: center;
}

.contact-icon-row {
    padding-bottom: 5%;
    margin-bottom: 2%;
    border-bottom: 1.5px solid white;
}

.copy-right-row1 {
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 2%;
    padding-top: 1%;
    border-top: 1.5px solid white;
}

.copy-right-row2 {
    margin-left: auto;
    margin-right:auto;
    margin-top: 1%;
}

.contact-msg-category {
    float: left;
}

.contact-msg-textArea {
    max-height: 150px;
    min-height: 100px;
}

.contact-msg-send {
    margin-right: 10%;
    float: right;
}

.contact-send-btn, .contact-send-btn:focus{
    padding: 20% 70%;
    background-color: black;
    border-color: rgba(255, 255, 255, 0.5);
    transition-duration: 0.5s;
    outline: none !important;
    box-shadow: 0 0 0 black !important;
}

.contact-send-btn:hover {
    background-color: black;
    border-color: red;
    transition-duration: 0.3s;
    outline: none !important;
    box-shadow: 0 0 10px #ff2525 !important;
}

input, textarea{
    outline: none !important;
    border:1px solid transparent !important;
    box-shadow: 0 0 0 black !important;
    transition-duration: 0.5s;
}

input:focus, textarea:focus {
    outline: none !important;
    border:1px solid red !important;
    box-shadow: 0 0 10px #ff2525 !important;
    transition-duration: 0.2s;
}

@media only screen and (min-width: 768px) {
    .copy-right-row1 {
        width: 60%;
    }

    .contact-or {
        display: inline-block;
        margin-top: 50%;
        padding: 0 3%;
    }    

    .contact-form-row {
        align-items: flex-start;
    }
}