#contact {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 1));
    position:relative;
    height:100%;
    overflow: hidden;
    justify-content: center;
    padding-bottom: 0 !important;
}

.contact-container {
    position: relative;
    height: 100%;
    color: white;
    margin: 8% auto 2% auto;
    font-family: 'Josefin Sans', sans-serif;
}

.contact-method {
    font-size: 1.2em;
}

.contact-row {
    position: relative;
}

.contact-icon {
    padding-top: 10%;
}

.contact-or-col {
    margin: 10% auto;
}

.contact-horizontal-line {
    height: 0.5px;
    position: relative;
    top: 15px;
    background-color: white;
}

.contact-form-row {
    margin-top: 3%;
    align-items: center;
}

.contact-icon-row {
    padding-bottom: 5%;
    margin-bottom: 2%;
    border-bottom: 1.5px solid white;
}

.copy-right-row1 {
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10%;
    padding-top: 1%;
    border-top: 1.5px solid white;
}

.copy-right-row2 {
    margin-left: auto;
    margin-right:auto;
    margin-top: 1%;
}

.contact-msg-category {
    float: left;
    padding-right: 0;
}

.contact-msg-textArea {
    max-height: 150px;
    min-height: 100px;
}

.contact-send-btn, .contact-send-btn:focus{
    box-sizing: border-box;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: black;
    border-color: rgba(255, 255, 255, 0.5);
    transition-duration: 0.5s;
    outline: none !important;
    box-shadow: 0 0 0 black !important;
}

.contact-send-btn:hover, .contact-send-btn:active {
    background-color: black !important;
    border-color: red !important;
    transition-duration: 0.3s;
    outline: none !important;
    box-shadow: 0 0 10px #ff2525 !important;
}

.contact-send-svg {
    display: none;
}

.contact-send-btn:hover > .contact-send-svg {
    display: block;
    font-size: 1.5em;
    margin: 0 auto;
}

.contact-send-btn:hover > .contact-send-text {
    display: none;  
}

.email-sent-status {
    margin: 0 auto 3% auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 5px;
}

.email-success {
    background-color: rgba(0, 128, 0, 0.4);
    border: 1.5px solid green;
}

.email-error {
    background-color: rgba(255, 0, 0, 0.4);
    border: 1.5px solid red;
}

input, textarea{
    outline: none !important;
    border:1px solid transparent !important;
    box-shadow: 0 0 0 black !important;
    transition-duration: 0.5s;
}

input:focus, textarea:focus {
    outline: none !important;
    border:1px solid red !important;
    box-shadow: 0 0 10px #ff2525 !important;
    transition-duration: 0.2s;
}

@media only screen and (min-width: 768px) {
    .copy-right-row1 {
        width: 60%;
        margin-top: 2%;
    }

    .contact-or {
        display: inline-block;
        margin-top: 50%;
        padding: 0 3%;
    }    

    .contact-form-row {
        align-items: flex-start;
    }

    .email-sent-status {
        margin: 0 auto 0 auto;
    }
}

@media only screen and (min-width: 992px) {
    .contact-msg-category {
        float: right;
        padding-right: 5%;
    }
}