#education {
    background: radial-gradient(rgba(230, 230, 230, 0.95), rgba(230, 230, 230, 0.9),  rgba(245, 245, 245, 0.8), rgba(255, 255, 255, 0.9));
}

.education-uoftlogo {
    width: 100%;
    padding: 1% 4%;
}

.education-container {
    color: black;
    font-size: 40px;
    width: 70%;
}

.education-description {
    font-size: 3vw;
}

@media only screen and (min-width: 768px) {
    .education-description {
        font-size: 1.5vw;
    }

    .education-uoftlogo {
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {
    .education-uoftlogo {
        width: 60%;
    }
}