#education {
    background: radial-gradient(rgba(230, 230, 230, 0.95), rgba(230, 230, 230, 0.9),  rgba(245, 245, 245, 0.8), rgba(255, 255, 255, 0.9));
}

.education-uoftlogo {
    width: 100%;
    padding: 0 10%;
}

.education-info {
    text-align: center;
}

.education-container {
    color: black;
    font-size: 40px;
    width: 70%;
}

.education-course {
    margin-left: 5%;
}

@media only screen and (min-width: 600px) {
    .education-uoftlogo {
        padding: 0 20%;
    }
}

@media only screen and (min-width: 992px) {
    .education-info {
        text-align: left;
    }

    .education-uoftlogo {
        padding: 0 0;
    }
}


