
#education {
    height: 100%;
    background: radial-gradient(rgba(230, 230, 230, 0.95), rgba(230, 230, 230, 0.9),  rgba(245, 245, 245, 0.8), rgba(255, 255, 255, 0.9));
}

.education-title {
    text-align: center;
    font-size: 5vw;
}

.education-uoftlogo {
    width: 100%;
    padding: 2% 4%;
}

.education-container {
    color: black;
    font-size: 40px;
    width: 70%;
    padding-top: 25%;
    padding-bottom: 5%;
}

.education-description {
    font-size: 3vw;
    /* border: 5px solid gray; */
    /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), inset 0 6px 20px 0 rgba(0, 0, 0, 0.5); */
}

@media only screen and (min-width: 375px) {
    .education-container {
        padding-top: 15%;
    }
}

@media only screen and (min-width: 768px) {
    .education-title {
        font-size: 3.5vw;
        text-align:left;
    }

    .education-description {
        font-size: 1.5vw;
        /* border: 5px solid gray; */
        /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), inset 0 6px 20px 0 rgba(0, 0, 0, 0.5); */
    }

    .education-uoftlogo {
        width: 70%;
    }

    .education-container {
        padding-top: 5%;
    }
}

@media only screen and (min-width: 992px) {
    .education-uoftlogo {
        width: 60%;
    }
}