#skill {
    background-color: whitesmoke;
}

.skill-blob {
    width: fit-content;
    color: black;
    padding: 3px 20px;
    margin: 5px 5px;
    border: 1px solid rgb(255, 37, 37);
    border-radius: 25px;
    transition-duration: 0.3s;
    box-shadow: 0 5px 5px rgb(255, 37, 37) !important;
    transition-duration: 0.5s;
}

.skill-svg {
    display: none;
}

.skill-blob:hover {
    transition-duration: 0.5s;
    transform: translateY(5px);
    box-shadow: 0 0 3px rgb(255, 37, 37) !important;
}

.skill-blob-row {
    margin-top: 3%;
}

.skill-title-bar {
    background-color: rgb(255, 37, 37);
    height: 1px;
    margin: 1px auto 3px auto;
    width: 20%;
}

.skill-first-row-2, .skill-bottom-row {
    margin-top: 5%;
}

@media only screen and (min-width: 768px) {
    .skill-first-row-2 {
        margin-top: 0;
    }

    .skill-title-bar {
        height: 0.07em;
    }
}