#welcome {
    height: 100vh;
}

.welcome-text {
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 2em;
    font-weight:bold;
    display: inline-block;
}

.welcome-line {
    position: relative;
    top: 0;
    height: 0.2em; 
    background-color: white;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.7);
}

.welcome-looped-text {
    font-size: 1em;
    font-family: 'Inconsolata', monospace;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.welcome-start {
    padding-top: 12%;
    color: black;
    font-weight: bold;
}

.welcome-center {
    margin: 0;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 5px 1px 5px rgba(0, 0, 0, 0.7);
}

.welcome-btn, .welcome-btn:focus {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../Resources/yoshiEggGray.png') no-repeat;
    background-size: contain;
    background-color: transparent !important;
    transition-duration: 0.3s;
    outline: none;
    box-shadow: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.welcome-btn:hover, .welcome-btn:active {
    transition-duration: 0.3s;
    background: url('../Resources/yoshiEggRed.png') no-repeat;
    background-size: contain;
    background-color: transparent !important;
    outline: none;
    box-shadow: none !important;
    border: none !important;
}

.welcome-svg {
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 375px) {
    .welcome-line {
        top: -5px;
        height: 0.2em; 
    }

    .welcome-text {
        font-size: 2em;
    }
    
    .welcome-looped-text {
        font-size: 1em;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .welcome-text {
        font-size: 3.2em;
    }
    
    .welcome-looped-text {
        font-size: 1.9em;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .welcome-text {
        font-size: 5em;
    }
    
    .welcome-looped-text {
        font-size: 3em;
    }
  }