#welcome {
    height: 100vh;
}

.welcome-text {
    color: white;
    font-size: 5vw;
    font-weight:bold;
    border-bottom: 0.3vw solid white;
}

.welcome-looped-text {
    font-size: 3vw;
}

.welcome-center {
    margin: 0;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
