@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
#welcome {
    height: 100vh;
}

.welcome-text {
    color: white;
    font-size: 5vw;
    font-family: 'Frijole', cursive;
    /* font-weight:bold; */
    border-bottom: 0.3vw solid white;
}

.welcome-looped-text {
    font-size: 3vw;
    font-family: 'Source Code Pro', monospace;
}

.welcome-center {
    margin: 0;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
