#experience {
    height: 100%;
    background-color: whitesmoke;
}

.experience-container {
    width: 70%;
    padding-top: 25%;
}

.experience-title {
    text-align: center;
    font-size: 5vw;
}

.experience-horizontal-line {
    border-bottom: 0.4vw double black;
    height: 64%;
}

.experience-content {
    padding-top: 5%;
}

.experience-border-divider {
    border-bottom: 2px solid lightgray;
}

@media only screen and (min-width: 375px) {
    .experience-container {
        padding-top: 15%;
    }
}

@media only screen and (min-width: 768px) {
    .experience-title {
        font-size: 3.5vw;
        text-align:left;
    }

    .experience-container {
        padding-top: 5%;
    }
}