@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700;1,800&display=swap');
.App {
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),url('./Resources/welcome_page.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center calc(100% - 25%);
  background-size: cover !important;
  -webkit-background-size: cover !important;
}

.svg-link {
  font-size: 1.5em !important;
}

.section-title {
  text-shadow:  0 0 15px rgba(255, 37, 37, 0.4);
  font-size: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
  font-style: italic;
}

.sub-title {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.95em;
}

.particle-bg {
  height: 100% !important;
}

.particle-div {
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
}

.particle-behind {
  z-index: -1
}

.page-div {
  padding-top: 25%;
  padding-bottom: 7%;
  height: 100%;
}


.title-horizontal-right {
  height: 0.3vw;
  position: absolute; 
  width: calc(100% - 30px);
  top: 55%;
  background-color: black;
  border-bottom-right-radius: 75%;
}

.title-horizontal-left {
  height: 0.3vw;
  position: absolute; 
  width: calc(100% - 30px);
  top: 55%;
  background-color: black;
  border-bottom-left-radius: 75%;
}

.end-horizontal {
  height: 0.3vw;
  width: 100%;    
  background-color: black;
  border-top-left-radius: 50% 80%;
  border-top-right-radius: 50% 80%;
}

.end-row {
  margin-top: 5%;
}

.border-divider {
  border-bottom: 2px solid lightgray;
}

@media only screen and (min-width: 375px) {
  .page-div {
    padding-top: 15%;
  }

  .section-title {
    font-size: 28px;
  }

  .svg-link {
    font-size: 2em !important;
  }
}

@media only screen and (min-width: 768px) {
  .page-div {
    padding-top: 10%;
  }

  .section-title {
    font-size: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .page-div {
    padding-top: 5%;
  }

  .section-title {
    font-size: 50px;
  }
}